# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=notifications
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Kafka
KAFKA_PORT=9092

# Jaeger
JAEGER_UI_PORT=16686
JAEGER_OTLP_PORT=4317

# Application
API_PORT=7000